@font-face {
  font-family: 'PixelFont';
  src: url('./fonts/8-bit-limit.brk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PixelFont', sans-serif;
}

body,
html {
  height: 100dvh;
  width: 100dvw;
  background: #0e1a26;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-image {
  width: 80%;
  max-width: 300px;
  margin-bottom: 20px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

/* .page {
  background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}